<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Speed Dating</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <div class="chart">
  </div>
  <!-- Initialize a select button -->
  <select id="selectButton"></select>
  <!-- Create a div where the graph will take place -->
  <div id="speed_dating"></div>
  <!-- Color Scale -->
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script type="text/javascript" src="/static/js/lineapp.js"></script>

</body>
</body>

</html>